<html t:type="layout" title="uw-t5-prototype Index"
      t:sidebarTitle="Current Time"
      xmlns:t="http://tapestry.apache.org/schema/tapestry_5_1_0.xsd"
      xmlns:p="tapestry:parameter">
        <!-- Most of the page content, including <head>, <body>, etc. tags, comes from Layout.tml -->

    <p>${message:greeting}</p>

    <p:sidebar>

        <p>
            [<t:actionLink t:id="givemejson">givemejson</t:actionLink>]
        </p>
    </p:sidebar>

</html>
