    @font-face {
    font-family: 'Kabelbn';
    src: url('Kabel/KABELBT.TTF');
}

*{margin:0; padding:0;}
        body{border-top:2px solid #dbdfdf;background-color:#ebf0f3;/*line-height:50px;*/font-family: Kabelbn;
        

/*letter-spacing:50px;*/
        }
        
       
        #menuhoriz ul li,#menuhoriz ul li a {
        display: inline;
        padding-top: 2px; /*Separar el texto*/
        padding-bottom: 2px; /*Separar el texto*/
        padding-right: 2px; /*Separar el texto*/
        padding-left: 6px; /*Separar el texto*/
        margin-top:5px; /* Separar los botones */
        color:#000000; /* Color de fondo */
        text-decoration:none;
}
#menuhoriz ul li:hover, #menuhoriz ul li a:hover  {
        color:#CCCCCC; /* Color de fondo sobre el boton */
        cursor: pointer; /* cambiar el aspecto del puntero */
}
#menuhoriz ul {
        /* Linea para delimitar la botonera */
        /*border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #E4E4E4;*/
}

#footer.top{
    background:url("../img/filete_rojo_abajo.jpg") no-repeat left top;
}

#footer{background-color: #cccccc !important;color:#2a2a2a;}

.lineafina{
      background:url("../img/filete_rojo_pie_de_pagina.jpg") no-repeat left top;
      margin: 0 auto;
      height:30px;/*font-weight:bold;*/
}

#tabla{
      background:url("../img/fondo_de_hab_y_tarifas.jpg") no-repeat left top;
      margin: 0 auto;
      height:50px;/*font-weight:bold;*/
      color: #ffffff;
      font-size:18px;
}

#tablaContactoEncab{
      background:url("../img/recuadro-disponibilidad-01.jpg") no-repeat left top;
      margin: 0 auto;
      height:27px;/*font-weight:bold;*/
      color: #000000;
      font-size:18px;
}

#tablaContactoCuerpo{
      background:url("../img/recuadro-disponibilidad-02.jpg") no-repeat left top;
      margin: 0 auto;
      margin-top:5px;
      height:174px;/*font-weight:bold;*/
      color: #000000;
      font-size:15px;
}

#tablaNewsletterEncab{
      background:url("../img/recuadro-disponibilidad-01.jpg") no-repeat left top;
      margin: 0 auto;
      height:27px;/*font-weight:bold;*/
      color: #000000;
      font-size:18px;
}

#tablaNewsletterCuerpo{
      background:url("../img/recuadro-disponibilidad-02.jpg") no-repeat left top;
      margin: 0 auto;
      margin-top:5px;
      height:147px;/*font-weight:bold;*/
      color: #000000;
      font-size:15px;
}

div.tcol1{
    background:url("../img/filete-horizontal.jpg") no-repeat left bottom;
      margin: 0 auto;
      height:50px;/*font-weight:bold;*/
      font-size:18px;
       color: #000000;
}

div.tcol2{
    background:url("../img/filete-vertical.jpg") no-repeat left bottom;
      margin: 0 auto;
      height:50px;/*font-weight:bold;*/
      font-size:18px;
       color: #000000;
}
.facebook{
    width:42px;float:right;
}
.footerubicacion{
    background:url("../img/Logo-ubicacion-tel-email.jpg") no-repeat left top;  
    background-position: 0% -11%;
    padding-left:47px;
    line-height:38px; width:315px;float:left;margin-left:14px;
    
}

.footertel{
    background:url("../img/Logo-ubicacion-tel-email.jpg") no-repeat left top;  
     padding-left:47px;
    line-height:38px;
    background-position: 0% 50%;width:170px;float:left;
}

.footeremail{
    background:url("../img/Logo-ubicacion-tel-email.jpg") no-repeat left top;  
     padding-left:47px;
    line-height:38px;
     background-position: 0% 108%;width:150px;float:left;
}

#navmenulat ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 200px;
    font-size: 13px;
     cursor: pointer;
}
li.minifilete{
     background:url("../img/filete_rojo_botones_menu_chiquito.jpg") no-repeat right bottom;
     padding-right:7px;
}
li.sinminifilete{
     padding-right:7px;
}

div.promos{
    background:url("../img/filete_rojo_promociones.jpg") no-repeat left bottom;
    font-size:17px;
    letter-spacing:1px;
    /*padding-left:7px;*/
}

div.servicios{
    background:url("../img/filete_rojo_promociones.jpg") no-repeat left bottom;
    font-size:24px;
    letter-spacing:1px;
    color:#ff0000;
    /*padding-left:7px;*/
}
div.promociones{
    background:url("../img/filete_rojo_promociones.jpg") no-repeat left bottom;
    font-size:24px;
    letter-spacing:1px;
    color:#000000;
    /*padding-left:7px;*/
}
div.promociones2{
    font-size:35px;
    letter-spacing:1px;
    color:#ff0000;
    /*padding-left:7px;*/
}
div.promociones3{
    background:url("../img/filete_rojo_promociones.jpg") no-repeat left bottom;
    font-size:20px;
    letter-spacing:1px;
    color:#ff0000;
    /*padding-left:7px;*/
}
div.contacto{
    background:url("../img/filete_rojo_promociones.jpg") no-repeat left bottom;
    font-size:20px;
    letter-spacing:1px;
    color:#ff0000;
    /*padding-left:7px;*/
}

input.text1{
    border:none; 
    background:url(../img/filete_contacto_promociones.jpg) no-repeat left bottom;
    color:#000000;
    font-family: Kabelbn;
    font-size:13px;
    width:202px;
    margin-top:25px;letter-spacing:2px;padding-left:5px;
}

textarea.text2{
    border:none; 
    background:url(../img/filete_contacto_promociones_04.jpg) no-repeat left top;
    overflow:hidden;
    width:197px;
    height:128px;
      color:#000000;
     font-family: Kabelbn;
    font-size:13px;letter-spacing:2px;padding-left:5px;
    
}
input.textContacto1{
    border:none; 
    background:url(../img/filete-de-contacto-01.jpg) no-repeat left bottom;
    color:#000000;
    font-family: Kabelbn;
    font-size:13px;
    width:303px;
    margin-top:25px;letter-spacing:2px;padding-left:5px;
}

textarea.textContacto2{
    border:none; 
    background:url(../img/filete-de-contacto-02.jpg) no-repeat left top;
    overflow:hidden;
    width:524px;
    height:168px;
      color:#000000;
     font-family: Kabelbn;
    font-size:13px;letter-spacing:2px;padding-left:5px;
    
}
label.label{font-size:13px;letter-spacing:2px;padding-left:5px;}
textarea.text3{
    border:none; 
    background:url(../img/filete_contacto_promociones_02.jpg) no-repeat left bottom;
}

div.formrayaabajo{
  
      background:url(../img/filete_contacto_promociones_03.jpg) no-repeat left bottom;
}

div.formrayaabajo2{
  
      background:url(../img/filete-de-contacto-03.jpg) no-repeat left bottom;
}