/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
	font-family:Arial, Helvetica, sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Fin del Reset*/

html{
}

body{
	background-repeat:repeat-y;
	background-position:center 73px;
	font-size:62.5%;
}

#wrapper{
	width:960px;
	margin: 0 auto 0 auto;
}

#header{
	height:57px;
	width:auto;
	position:relative;
	padding:30px;
	border-bottom:1px solid #e0e0e0;
}

#nav{
	position:absolute;
	font-family:Arial, Helvetica, sans-serif;
	font-size:1.4em;
	bottom:0;
}

#nav li{
	float:left;
	margin-right:15px;
}

#nav li a{
	padding:9px 10px;
	display:block;
	text-decoration:none;
	font-weight:bold;
}

#content{
	clear:both;
	padding:0 30px 30px 0;
	color:#6b6b6b;
	font-size:1.2em;
}

#footer{
	clear:both;
	padding-top:20px;
	height:112px;
	background-color:#f0f0f0;
	width:auto;
	color:#8d8d8d;
	font-size:1.2em;
}

#footer span a{
	text-decoration:none;
	color:#8d8d8d;
}

#footer span a:hover{
	color:#000;
}

.col{
	width:288px;
	float:left;
	padding:20px;
	margin-top:10px;
	margin-left:30px;
}

.colDob{
	width:500px;
	float:left;
	padding:20px;
	margin-top:10px;
	margin-left:30px;
}

.colUn{
	width:860px;
	float:left;
	padding:20px;
	margin-top:10px;
	margin-left:30px;
}

.clear{
	clear:both;
}

h3{
	font-size:1.6em;
	margin-bottom:10px;
}

h4{
	font-size:1.1em;
}

#nav ul li a{
	color:#555;
}

.boxGray{
	background:#f7f7f7;
}

.col.register input{
	margin:10px 0 20px 0;
}

.col.register p{
	margin-bottom:40px;
}

.boxWhite{
	border:1px solid #f0f0f0;
}

.colDob.login .labels{
	float:left;
}

.colDob.login .fields{
	padding-left:120px;
}

.colDob.login .labels label{
	display:block;
	margin:5px 0 20px;
}

.colDob.login .fields input[type="button"]{
	display:block;
	margin:20px 0;
}

.intro{
	background:#f0f0f0;
	padding:20px;
}

.intro p{
	font-style:italic;
	font-size:1.2em;
	margin-bottom:20px;
}

.intro p .bold{
	font-style:normal;
}

.bold{
	font-weight:bold;
}

div.snapshotList{
	background:#f0f0f0;
	padding:5px 0;
}

div.snapshotList .snapshotListHeader, div.snapshotList .snapshotListFooter{
	background:#FFF;
	padding:5px 15px;
	font-size:0.9em;
}

div.snapshotList .recentFooter{
	border-top:1px solid #dddddd;
}

div.snapshotList p.viewing{
	padding:5px 15px;
	font-size:0.9em;
}

div.snapshotList div.recentBlock{
	border-top:1px solid #dddddd;
	padding:15px;
}

div.snapshotList div.recentBlock:hover{
	background:#f7f7f7;
}

div.snapshotList div.recentBlock div.left, div.profileBlock div.left{
	width:54px;
	float:left;
}

div.snapshotList div.recentBlock div.right, div.profileBlock div.right{
	width:105px;
	float:right;
}

div.snapshotList div.recentBlock div.center, div.profileBlock div.center{
	padding-left:65px;
	padding-right:110px;
}

div.snapshotList div.recentBlock div.right a, div.profileBlock div.right a{
	display:block;
}

div.snapshotList div.recentBlock div.center span.time, div.snapshotList div.mySnapshotBlock div.desc span.time{
	display:block;
	font-size:0.9em;
	color:#b5b5b5;
	font-style:italic;
}

div.snapshotList div.recentBlock div.center img{
	margin-top:8px;
	margin-right:5px;
}

div.snapshotList div.paging{
	float:right;
	padding:5px 10px 0 0;
	color:#6B6B6B;
	font-size:11px;
}

div.snapshotList div.paging a{
	color:#6B6B6B ;
	font-style:normal;
}

div.snapshotList div.mySnapshotBlock{
	padding:10px;
	border-top:1px solid #dddddd;
}

div.snapshotList div.mySnapshotBlock:hover{
	background:#f7f7f7;
}

div.snapshotList div.mySnapshotBlock div.desc{
	padding-bottom:5px;
}

div.snapshotList div.mySnapshotBlock div.desc p.private{
	background:url(../img/private.gif) top left no-repeat;
	padding-left:15px;
}

div.snapshotList div.mySnapshotBlock div.avatars img{
	margin-right:5px;
}

form#register *{
	display:block;
}

form#register input[type="text"]{
	width:300px;
}

form#register .inline{
	display:inline;
}

form#register textarea{
	width:300px;
	height:150px;
	background:#FFF;
	border:1px solid #A7A6AA;
}

form#register label{
	font-size:1.4em;
}

form#register span.info, form#newProfile span.info{
	font-size:0.9em;
}

form#register span.info, form#register label, form#register input[type="text"], form#register textarea{
	margin-bottom:5px;
}

form#register input[type="button"]{
	margin:15px 0;
}

div.currentProfileBlock{
	border:2px solid #ECECEC;
	padding:10px;
	margin-bottom:15px;
}

div.currentProfileBlock img{
	float:left;
}

div.currentProfileBlock div{
	padding-left:65px;
}

div.currentProfileBlock div p{
	color:#999999;
	font-style:italic;
	font-size:1.5em;
}

span.username{
	color:#808080;
	font-size:20px;
	font-weight:bold;
	font-style:normal;
}

div.profileBlock{
	background:#f2f2f2;
	padding:15px;
	margin-bottom:10px;
}

div.profileBlock.active{
	border:1px solid #999;
}

div.profileBlock div.center p{
	padding-bottom:3px;
}

div.profileBlock div.center span.profileType{
	font-size:1.2em;
}

div.profileBlock div.center p.profileDesc{
	color:#999999;
	font-style:italic;
	font-size:1.2em;
}

div.profileBlock div.center p.defaultProfile{
	color:#666;
	font-weight:bold;
	font-size:0.9em;
}

div.profileBlock div.center p.interests{
	font-size:0.9em;
}

div.profileBlock div.center p.interests span{
	color:#808080;
	font-weight:bold;
}

div.spacer{
	border:1px solid #999;
	margin:5px 0;
}

form#newProfile{
	border:1px solid #999;
	padding:15px 18px;
}

form#newProfile h4{
	margin-top:20px;
}

form#newProfile div.spacer{
	margin:5px 0;
}
/*
form#newProfile input[type="text"], form#newProfile span.info, form#newProfile label{
	display:block;
}
*/
form#newProfile label{
	font-size:1.1em;
	font-weight:bold;
}

form#newProfile input[type="text"]{
	width:280px;
	margin:5px 0;
}

form#newProfile span.info{
	margin-bottom:10px;
}

form#newProfile label span{
	font-weight:normal;
}

form#newProfile div{
	margin:15px 0;
}