<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:t="http://tapestry.apache.org/schema/tapestry_5_1_0.xsd"
xmlns:p="tapestry:parameter">
  <t:block t:id="commonNavBar">
    <li>
      <a href="#">${message:home}</a>
    </li>

    <li>
      <a href="#">${message:map}</a>
    </li>
  </t:block>

  <t:delegate to="case" />

  <t:block t:id="index">
    <ul>
      <t:delegate to="commonNavBar" />

      <li>
        <a href="#">${message:what_is_this_app}</a>
      </li>
    </ul>
  </t:block>

  <t:block t:id="register">Here is the content for case2.</t:block>

  <t:block t:id="profile">
    <ul>
      <t:delegate to="commonNavBar" />

      <li>
        <a href="#">${message:snapshots}</a>
      </li>

      <li>
        <a href="#">${message:contacts}</a>
      </li>

      <li>
        <a href="#">${message:messages}</a>
      </li>

      <li>
        <a href="#">${message:profiles}</a>
      </li>
    </ul>
  </t:block>

  <t:block t:id="login">
    <t:delegate to="commonNavBar" />
  </t:block>
</html>

