<html xmlns="http://www.w3.org/1999/xhtml" t:type="layout" title="uw-t5-prototype Index" 
xmlns:t="http://tapestry.apache.org/schema/tapestry_5_1_0.xsd" xmlns:p="tapestry:parameter" xml:space="preserve">
  <head>
    <meta name="generator" content="HTML Tidy, see www.w3.org" />
  </head>
    <body>
    	<div id="wrapper">
            <div id="content">
            	<div class="colDob boxWhite">
                        <h3>${message:info}</h3>
                    <br />
                    <form t:id="settingsForm" id="message">
						<t:errors/>

                        <div class="spacer"></div>
                    	<label>${message:username}</label><br />
						<input t:type="TextField" value="user.username"  /><br />

                        <label>${message:email}</label><br />
						<input t:type="TextField" value="user.email"  /><br />

                        <label>${message:fullname}</label><br />
						<input t:type="TextField" value="user.fullname" /><br />

                        <label>${message:password}</label><br />
						<input t:type="PasswordField" value="user.password"  /><br />

                        <input type="submit" value="${message:enviar}" class="boton" /><br />
                    </form>
<!--                    <a href="#">Quiero borrar mi cuenta</a> -->
                </div>
<!-- no habilitado ahora
                <div class="col boxGray">
                    <h3>Categor&iacute;as</h3>
                    <ul class="borderList">
                        <li class="current"><a href="#">Informaci&oacute;n de la cuenta</a></li>
                        <li><a href="#">Cambiar Contrase&ntilde;a</a></li>
                        <li><a href="#">Perfiles</a></li>
                        <li><a href="#">Notificaciones</a></li>
                    </ul>
                </div>
-->
                <div class="clear"></div>
          	</div>
        </div>
    </body>
</html>
